@font-face {
    font-family: 'SignikaNegative';
    src: url("assets/fonts/Signika_Negative/SignikaNegative-Medium.ttf");
}

* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'SignikaNegative';
    font-size: 20px;
    color: black;
}

.header {
    height: 130px;
    background-color: rgb(0, 255, 174);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 30px 0px 0px;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    font-size: 25px;
    text-decoration: none;
    color: #000;
    transition: 0.4s;

  }

  .nav-item :hover {
    color: rgb(255, 153, 0);
  }

  .section {
    width: 50%;
    padding: 0px 20px;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .img-profile {
    display: flex;
    margin: 5px auto;
  }

  .link-experience {
    text-decoration: none;
    color: rgb(144, 16, 112);
    transition: 0.4s;
  }

  .link-experience:hover {
    color: rgb(255, 153, 0);
  }

  .footer {
    height: 70px;
    background-color: rgb(0, 255, 174);
  }

  .footer-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
  }

.text-footer {
    margin-right: auto;
}

.link-footer {
    text-decoration: none;
    color: rgb(144, 16, 112);
    transition: 0.4s;
}

.link-footer:hover {
  color: rgb(255, 153, 0);
}

.link-contacts {
    text-decoration: none;
    color: rgb(144, 16, 112);
    transition: 0.4s;
}

.link-contacts:hover {
  color: rgb(255, 153, 0);
}